<!-- Banner -->
<div class="position-relative">
  <div class="card-category card-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('list_background.jpg') %>)">
    <h1><%= @list.name %></h1>
  </div>
    <span class="movie-tag"><%= pluralize(@list.movies.size, 'movie') %></span>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<td><%= link_to 'Add Bookmark', new_list_bookmark_path(@list), class: "btn btn-primary" %></td>

<!-- Display the movies -->
<p>
  <strong>Movies:</strong>
  <% @movies.each do |movie| %>
    <div class="list-group-item">
      <strong>Title:</strong>
      <p><%= movie.title %></p>

      <strong>Overview:</strong>
      <p><%= movie.overview %></p>

      <% store_movie_id = movie.id %>

      <!-- Display the 'comment' -->
      <strong>Your bookmark:</strong>

      <% @bookmarks.each do |bookmark| %>
        <% if bookmark.movie_id == store_movie_id %>
          <p><%= bookmark.comment %></p>
        <% end %>

        <%= link_to "Delete",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

      <% end %>

    </div>
  <% end %>
</p>

 <%= link_to 'Back', lists_path, class: "btn btn-primary" %>
